USE [master]
GO
/****** Object:  Database [Holm]    Script Date: 30.09.2023 18:34:35 ******/
CREATE DATABASE [Holm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Holm', FILENAME = N'K:\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\Holm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Holm_log', FILENAME = N'K:\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\Holm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Holm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Holm]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 30.09.2023 18:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[series] [int] NOT NULL,
	[number] [int] NOT NULL,
	[birthday] [date] NOT NULL,
	[adress] [nvarchar](100) NOT NULL,
	[mail] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30.09.2023 18:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[time] [time](7) NOT NULL,
	[id_client] [int] NOT NULL,
	[id_status] [int] NOT NULL,
	[dateClose] [date] NULL,
	[id_usetime] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 30.09.2023 18:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sotrudniki]    Script Date: 30.09.2023 18:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sotrudniki](
	[id] [int] NOT NULL,
	[id_role] [int] NOT NULL,
	[fio] [nvarchar](50) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](15) NOT NULL,
	[date_vxod] [date] NOT NULL,
	[id_vxod] [int] NOT NULL,
 CONSTRAINT [PK_Sotrudniki] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 30.09.2023 18:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Vxod]    Script Date: 30.09.2023 18:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Vxod](
	[id] [int] NOT NULL,
	[vxod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type_Vxod] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UseTime]    Script Date: 30.09.2023 18:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UseTime](
	[id] [int] NOT NULL,
	[useTime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UseTime] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usluga]    Script Date: 30.09.2023 18:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usluga](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[code] [nvarchar](25) NOT NULL,
	[priceforhour] [int] NOT NULL,
 CONSTRAINT [PK_Usluga_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UslugiPro]    Script Date: 30.09.2023 18:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UslugiPro](
	[id] [int] NOT NULL,
	[id_orders] [int] NOT NULL,
	[id_usludi] [int] NOT NULL,
 CONSTRAINT [PK_UslugiPro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clients] ([id], [name], [series], [number], [birthday], [adress], [mail], [password]) VALUES (45462526, N'Фролов Андрей Иванович', 1180, 176596, CAST(N'2001-07-14' AS Date), N'344288, г. Казань, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Clients] ([id], [name], [series], [number], [birthday], [adress], [mail], [password]) VALUES (45462527, N'Николаев Даниил Всеволодович', 2280, 223523, CAST(N'2001-02-10' AS Date), N'614164, г. Казань, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Clients] ([id], [name], [series], [number], [birthday], [adress], [mail], [password]) VALUES (45462528, N'Снегирев Макар Иванович', 4560, 354155, CAST(N'1998-05-21' AS Date), N'394242, г. Казань, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Orders] ([id], [date], [time], [id_client], [id_status], [dateClose], [id_usetime]) VALUES (1, CAST(N'2022-03-12' AS Date), CAST(N'09:10:00' AS Time), 45462526, 1, NULL, 1)
INSERT [dbo].[Orders] ([id], [date], [time], [id_client], [id_status], [dateClose], [id_usetime]) VALUES (2, CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, 2, NULL, 2)
INSERT [dbo].[Orders] ([id], [date], [time], [id_client], [id_status], [dateClose], [id_usetime]) VALUES (3, CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, 2, NULL, 3)
GO
INSERT [dbo].[Role] ([id], [role]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([id], [role]) VALUES (2, N'Старший смены')
INSERT [dbo].[Role] ([id], [role]) VALUES (3, N'Продавец')
GO
INSERT [dbo].[Sotrudniki] ([id], [id_role], [fio], [login], [password], [date_vxod], [id_vxod]) VALUES (101, 3, N'Иванов Иван Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', CAST(N'2022-05-15' AS Date), 1)
INSERT [dbo].[Sotrudniki] ([id], [id_role], [fio], [login], [password], [date_vxod], [id_vxod]) VALUES (102, 3, N'Петров Петр Петрович', N'petrov@namecomp.ru', N'uzWC67', CAST(N'2022-05-15' AS Date), 1)
INSERT [dbo].[Sotrudniki] ([id], [id_role], [fio], [login], [password], [date_vxod], [id_vxod]) VALUES (103, 1, N'Федоров Федор Федорович', N'fedorov@namecomp.ru', N'8ntwUp', CAST(N'2022-05-15' AS Date), 1)
GO
INSERT [dbo].[Status] ([id], [status]) VALUES (1, N'Новая')
INSERT [dbo].[Status] ([id], [status]) VALUES (2, N'В прокате')
INSERT [dbo].[Status] ([id], [status]) VALUES (3, N'Закрыта')
GO
INSERT [dbo].[Type_Vxod] ([id], [vxod]) VALUES (1, N'Успешно')
INSERT [dbo].[Type_Vxod] ([id], [vxod]) VALUES (2, N'Неуспешно')
GO
INSERT [dbo].[UseTime] ([id], [useTime]) VALUES (1, N'120 минут')
INSERT [dbo].[UseTime] ([id], [useTime]) VALUES (2, N'600 минут')
INSERT [dbo].[UseTime] ([id], [useTime]) VALUES (3, N'2 часа')
GO
INSERT [dbo].[Usluga] ([id], [name], [code], [priceforhour]) VALUES (31, N'Прокат сноуборда', N'JUR8R', 1200)
INSERT [dbo].[Usluga] ([id], [name], [code], [priceforhour]) VALUES (34, N'Прокат обуви для сноуборда', N'JKFBJ09', 400)
INSERT [dbo].[Usluga] ([id], [name], [code], [priceforhour]) VALUES (44, N'Прокат коньков', N'DHBGFY563', 900)
GO
INSERT [dbo].[UslugiPro] ([id], [id_orders], [id_usludi]) VALUES (1, 1, 34)
INSERT [dbo].[UslugiPro] ([id], [id_orders], [id_usludi]) VALUES (2, 1, 31)
INSERT [dbo].[UslugiPro] ([id], [id_orders], [id_usludi]) VALUES (3, 1, 353)
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([id_client])
REFERENCES [dbo].[Clients] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Status] FOREIGN KEY([id_status])
REFERENCES [dbo].[Status] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_UseTime] FOREIGN KEY([id_usetime])
REFERENCES [dbo].[UseTime] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_UseTime]
GO
ALTER TABLE [dbo].[Sotrudniki]  WITH CHECK ADD  CONSTRAINT [FK_Sotrudniki_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Sotrudniki] CHECK CONSTRAINT [FK_Sotrudniki_Role]
GO
ALTER TABLE [dbo].[Sotrudniki]  WITH CHECK ADD  CONSTRAINT [FK_Sotrudniki_Type_Vxod] FOREIGN KEY([id_vxod])
REFERENCES [dbo].[Type_Vxod] ([id])
GO
ALTER TABLE [dbo].[Sotrudniki] CHECK CONSTRAINT [FK_Sotrudniki_Type_Vxod]
GO
ALTER TABLE [dbo].[UslugiPro]  WITH CHECK ADD  CONSTRAINT [FK_UslugiPro_Orders] FOREIGN KEY([id_orders])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[UslugiPro] CHECK CONSTRAINT [FK_UslugiPro_Orders]
GO
ALTER TABLE [dbo].[UslugiPro]  WITH NOCHECK ADD  CONSTRAINT [FK_UslugiPro_Usluga] FOREIGN KEY([id_usludi])
REFERENCES [dbo].[Usluga] ([id])
GO
ALTER TABLE [dbo].[UslugiPro] NOCHECK CONSTRAINT [FK_UslugiPro_Usluga]
GO
USE [master]
GO
